@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
:root {
	--ancho-maximo: 1440px;
	--color-blue-dark: hsl(228, 39%, 23%);
	--color-naranja: hsl(12, 88%, 59%);
	--color-plomo-claro: hsl(0, 0%, 98%);
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body {
	font-family: "Be Vietnam", sans-serif;
}

.header {
	max-width: var(--ancho-maximo);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.header__list {
	display: flex;
	list-style: none;
	gap: 1.5rem;
}

.header__link {
	text-decoration: none;
	color: var(--color-blue-dark);
	font-weight: 700;
}
.main {
	max-width: var(--ancho-maximo);
	margin: 0 auto;
}
.fila {
	display: flex;
	flex-wrap: wrap;
}
.columna {
	flex: 50%;
}
.media {
	position: relative;
	margin-bottom: 2rem;
}
.media__number {
	position: absolute;
	background-color: var(--color-naranja);
	color: white;
	height: 2rem;
	width: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
}
.media__title {
	padding-left: 4rem;
}
.media__text {
	margin-top: 1rem;
	padding-left: 4rem;
}

.comments__title {
	text-align: center;
	margin-bottom: 3rem;
}
.comments__container {
	display: flex;
}
.comment {
	flex: 1;
	/* background-color: red; */
	padding: 1rem;
}
.comment__box {
	background-color: #eee;
	height: 100%;
	text-align: center;
	border-radius: 2px;
	padding: 0 0.5rem 0.5rem 0.5rem;
}

.comment__img img {
	width: 4rem;
	height: 4rem;
	transform: translate(0, -50%);
}
.comment__name {
	margin-bottom: 1rem;
}
